<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar" data-aos="fade-down" data-aos-delay="500">
  <div class="container">
    <a class="navbar-brand" href="index.html">{% t global.name %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> {% t navbar.menu %}
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="index.html" class="nav-link">{% t navbar.home %}</a></li>
        <!-- <li class="nav-item"><a href="services.html" class="nav-link">What we do</a></li>
        <li class="nav-item"><a href="project.html" class="nav-link">Projects</a></li>
        <li class="nav-item"><a href="pricing.html" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li> -->
        <li class="nav-item"><a href="database.html" class="nav-link">{% t navbar.database %}</a></li>
        <li class="nav-item"><a href="download.html" class="nav-link">{% t navbar.download %}</a></li>
        <!-- <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li> -->
        
        <!-- Language picker (commented because not styled yet - see alfonse website styles for quick styling ) -->
        <!-- <li class="nav-item has-dropdown">
          <a class="nav-link" href="#">{{ site.languageNames[site.lang] }} ▼</a>
          <ul class="dropdown">
          {% for lang in site.languageNames %}
            {% if lang[0] == site.lang %} {% continue %} {% endif %}
            {% if page.namespace %}
              <li>
                <a href="{% tl {{ page.namespace }} {{ lang[0] }} {{ page.url }} %}">{{ lang[1] }}</a>
              </li>
            {% else %}
              <li>
                <a href="/{{ lang[0] }}{{ page.url }}">{{ lang[1] }}</a>
              </li>
            {% endif %}
          {% endfor %}
          </ul>
        </li> -->

      </ul>
    </div>
  </div>
</nav>
